@use './tokens/colors';

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--foreground);
  background-color: var(--background);
}

body, ul, ol, li,
textarea, input, select, button {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: normal;
}
